# **UNIDAD TEMÁTICA II: Manejo y análisis de datos**

*   Conjuntos de datos. Carga desde archivos. Creación de dataframes. Indexación. Series temporales. Ordenación. Filtrado. Aplicación de funciones. Análisis de los datos. Modificación del conjunto de datos.
*   <font color='blue'>Pandas</font>

## ¿Por qué Pandas?

Esta es una de las librerías más útiles a la hora de realizar analisis de datos con Python. 

Pandas nos ayudará a la importación, la limpieza y el tratamiento general de datos para luego poder trabajar con ellos, nos facilita herramientas de importación, de gráficas, de edición de los datos (filas, columnas, títulos, etc.), reordenando, etc.

<ol> 
    <li> Posee la <b>flexibilidad</b> de Python </li>
    <li> Permite trabajar con <b>grandes cantidades de datos</b> </li>
</ol>

In [65]:
# Ahora importaremos la libreria a utilizar : Pandas

import pandas as pd # utilizaremos la abreviatura pd

# En caso de lanzar un error, puede que no la tengas instalada, para ello deberás utilizar pip
# Ejecuta en la consola: pip install pandas 
# (si no funciona utiliza pip3 en vez de pip, sino deberás instalar pip)

Las estructuras de datos principales en **Pandas** están implementadas en dos clases:

**Series**, que es una columna simple. Una clase DataFrame incluye una o más Series y un nombre para cada Series.

**DataFrame**, que puedes imaginar como una tabla de datos relacional, con filas y columnas con nombre.

Una manera de crear una Series es construir un objeto de Series. Por ejemplo:

In [67]:
ciudades = pd.Series(['Bahia Blanca', 
                      'Buenos Aires', 
                      'Puerto Madryn'])

In [3]:
ciudades

0     Bahia Blanca
1     Buenos Aires
2    Puerto Madryn
dtype: object

Los DataFrame pueden crearse al enviar un dict que asigne nombres de columnas de string a sus Series correspondientes:

In [68]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

df = pd.DataFrame({ 'City name': city_names, 'Population': population })

In [69]:
print(df)

       City name  Population
0  San Francisco      852469
1       San Jose     1015785
2     Sacramento      485199

**Pero por lo general, cargas un archivo completo en un DataFrame. El siguiente ejemplo carga un archivo:**

<p> Para realizar los pasos siguientes deberas descargar el dataset de la siguiente publicación: <a href ='https://www.kaggle.com/gregorut/videogamesales'>Dataset</a></p>

<p> Una vez descargado el .csv debemos colocarlo en la misma carpeta donde tenemos guardado nuestro notebook o archivo .py</p>

In [ ]:
# Datasets/archivos que utilizaremos
# Normalmente será mejor hacerlo a traves de un archivo .csv

# Para Jupyter Notebook: 

ventas_juegos = pd.read_csv('./DataPandas/ventasjuegos.csv')

# Pero tambien podemos hacerlo desde archivos excel, json, tablas sql e incluso de txt
vjxlsx = pd.read_excel('./DataPandas/ventasjuegos.xlsx')
# Mostraremos un ejemplo con un documento de excel

In [70]:
# Para Colab

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
input_folder = "/content/drive/My Drive/UPSO/Clases/DataPandas/" #@param {type:"string"}
!ls

drive  sample_data

In [143]:
# Leer archivo csv
ventas_juegos = pd.read_csv('/content/drive/My Drive/UPSO/Clases/DataPandas/ventasjuegos.csv')

In [72]:
# Leer excel
vjxlsx = pd.read_excel(input_folder + 'ventasjuegos.xlsx')

## Lectura y recorrido de Datos

In [75]:
# Podremos visualizar que todos contienen lo mismo

#print(ventas_juegos)
print(vjxlsx)

        Rank                                              Name Platform  Year  \
0          1                                        Wii Sports      Wii  2006
1          2                                 Super Mario Bros.      NES  1985
2          3                                    Mario Kart Wii      Wii  2008
3          4                                 Wii Sports Resort      Wii  2009
4          5                          Pokemon Red/Pokemon Blue       GB  1996
...      ...                                               ...      ...   ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA  2002
16594  16597                     Men in Black II: Alien Escape       GC  2003
16595  16598  SCORE International Baja 1000: The Official Game      PS2  2008
16596  16599                                        Know How 2       DS  2010
16597  16600                                  Spirits & Spells      GBA  2003

              Genre   Publisher NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0            Sports    Nintendo    41.49     29.02      3.77         8.46
1          Platform    Nintendo    29.08      3.58      6.81         0.77
2            Racing    Nintendo    15.85     12.88      3.79         3.31
3            Sports    Nintendo    15.75     11.01      3.28         2.96
4      Role-Playing    Nintendo    11.27      8.89     10.22         1.00
...             ...         ...      ...       ...       ...          ...
16593      Platform       Kemco     0.01      0.00      0.00         0.00
16594       Shooter  Infogrames     0.01      0.00      0.00         0.00
16595        Racing  Activision        0      0.00      0.00         0.00
16596        Puzzle    7G//AMES        0      0.01      0.00         0.00
16597      Platform     Wanadoo     0.01      0.00      0.00         0.00

       Global_Sales  Unnamed: 11
0             82.74          NaN
1             40.24          NaN
2             35.82          NaN
3             33.00          NaN
4             31.37          NaN
...             ...          ...
16593          0.01          NaN
16594          0.01          NaN
16595          0.01          NaN
16596          0.01          NaN
16597          0.01          NaN

[16598 rows x 12 columns]

In [77]:
# Imprimimos una parte representativa de nuestros datos para ver con que estaremos trabajando
# Pasamos un valor para elegir cuantas filas representar
 
(ventas_juegos.head(5)) # Imprimir 5 primeros función .head(cantidad)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [79]:
(ventas_juegos.tail(2)) # Imprimir 5 ultimos función .tail(cantidad)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

In [80]:
# Para imprimir las columnas o los "Headers" de datos utilizaremos columns
print(ventas_juegos.columns)

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [85]:
# Podemos imprimir una columna especifica con slicing, por ejemplo :
#print(ventas_juegos['Name'])

# Pero tambien podriamos realizarlo de la siguiente forma:
#print(ventas_juegos.Name)

# Tambien si queremos imprimir más de una columna podemos convertirla en una lista, de esta forma:
print(ventas_juegos[['Name','Platform', 'Other_Sales']])

                       Name Platform  Other_Sales
0                Wii Sports      Wii         8.46
1         Super Mario Bros.      NES         0.77
2            Mario Kart Wii      Wii         3.31
3         Wii Sports Resort      Wii         2.96
4  Pokemon Red/Pokemon Blue       GB         1.00

In [86]:
# A demas podriamos imprimir cierta fila con la func iloc, por ejemplo:
ventas_juegos.iloc[2]

Rank                         3
Name            Mario Kart Wii
Platform                   Wii
Year                    2008.0
Genre                   Racing
Publisher             Nintendo
NA_Sales                 15.85
EU_Sales                 12.88
JP_Sales                  3.79
Other_Sales               3.31
Global_Sales             35.82
Name: 2, dtype: object

In [90]:
# También se podria imprimir más de una fila con la func iloc y utilizando slicing, tal que así:
(ventas_juegos.iloc[8:10])

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [91]:
# La funcion iloc tambien nos permitira obtener una celda puntual
# para ello le diremos la fila y col que queremos obtener:

ventas_juegos.iloc[1,[0,1,3]]

# Estamos pidiendo de la fila 2 la columna 1,2 y 4(ranking, nombre y año)

Rank                    2
Name    Super Mario Bros.
Year               1985.0
Name: 1, dtype: object

In [92]:
# Podríamos realizar algo mas "Complejo" con un iterador y un bucle for
# Por ejemplo para poder mostrar el nombre junto al indice del juego:

for index,row in ventas_juegos.iterrows():
    if index < 10:
        print(index,row['Name'])
        # Imprimimos solo 10 para mostrar una representación
    elif 10 <= index < 20:
        print(index,row['Genre'])

# Este sería un ejemplo para trabajar los datos de otra forma

0 Wii Sports
1 Super Mario Bros.
2 Mario Kart Wii
3 Wii Sports Resort
4 Pokemon Red/Pokemon Blue
5 Tetris
6 New Super Mario Bros.
7 Wii Play
8 New Super Mario Bros. Wii
9 Duck Hunt
10 Simulation
11 Racing
12 Role-Playing
13 Sports
14 Sports
15 Misc
16 Action
17 Action
18 Platform
19 Misc

In [94]:
ventas_juegos.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [101]:
# Podríamos realizar una busqueda específica con la función .loc
# Para ello le pasaremos una condición para realizar la busqueda
# Por ejemplo:

ventas_juegos.loc[(ventas_juegos['Year'] >= 2000) & (ventas_juegos['NA_Sales'] >= 40.00)]
#precio40 = mayores2000.loc[mayores2000['NA_Sales'] >= 40.00]

#precio40

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74

In [100]:
# Otro ejemplo con una condición algo más compleja podría ser el siguiente:
ventas_juegos.loc[(ventas_juegos['Genre'] == 'Shooter') & (ventas_juegos['Year'] >= 2014) & \
                  (ventas_juegos['Platform'] == 'PC')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
3247,3249,Far Cry 4,PC,2014.0,Shooter,Ubisoft,0.15,0.42,0.0,0.05,0.62
3457,3459,Titanfall,PC,2014.0,Shooter,Electronic Arts,0.21,0.30,0.0,0.07,0.58
3755,3757,Star Wars Battlefront (2015),PC,2015.0,Shooter,Electronic Arts,0.13,0.37,0.0,0.04,0.54
4244,4246,Wolfenstein: The New Order,PC,2014.0,Shooter,Bethesda Softworks,0.12,0.29,0.0,0.05,0.46
4509,4511,Overwatch,PC,2016.0,Shooter,Activision,0.22,0.18,0.0,0.04,0.43
4740,4742,Call of Duty: Advanced Warfare,PC,2014.0,Shooter,Activision,0.14,0.23,0.0,0.04,0.41
5104,5106,Tom Clancy's The Division,PC,2016.0,Shooter,Ubisoft,0.20,0.14,0.0,0.03,0.37
6071,6073,Borderlands: The Pre-Sequel,PC,2014.0,Shooter,Take-Two Interactive,0.11,0.15,0.0,0.03,0.29
7050,7052,Call of Duty: Black Ops 3,PC,2015.0,Shooter,Activision,0.00,0.22,0.0,0.01,0.23
7211,7213,Tom Clancy's Rainbow Six: Siege,PC,2015.0,Shooter,Ubisoft,0.12,0.08,0.0,0.02,0.22
8027,8029,Evolve,PC,2015.0,Shooter,Take-Two Interactive,0.07,0.10,0.0,0.01,0.18
8138,8140,Doom (2016),PC,2016.0,Shooter,Bethesda Softworks,0.06,0.10,0.0,0.01,0.18
8960,8962,Alien: Isolation,PC,2014.0,Shooter,Sega,0.00,0.13,0.0,0.01,0.15
9304,9306,Battlefield: Hardline,PC,2015.0,Shooter,Electronic Arts,0.00,0.13,0.0,0.01,0.14
12005,12007,Battleborn,PC,2016.0,Shooter,Take-Two Interactive,0.03,0.03,0.0,0.01,0.07
13436,13438,Plants vs. Zombies: Garden Warfare 2,PC,2016.0,Shooter,Electronic Arts,0.00,0.04,0.0,0.00,0.05
15138,15141,Plants vs. Zombies: Garden Warfare,PC,2014.0,Shooter,Electronic Arts,0.00,0.02,0.0,0.00,0.02
15339,15342,Homefront: The Revolution,PC,2016.0,Shooter,Deep Silver,0.00,0.02,0.0,0.00,0.02

### Estadísticas a partir del Dataset

In [103]:
# Podemos obtener más información util como pueden ser:
# La cantidad de objetos, la media, el minimo, el maximo,etc.
# Para ello tan solo utilizaremos la función .describe()

ventas_juegos.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [106]:
# Tambien podriamos hacerlo por separado, por ejemplo para obtener la media utilizaremos la funcion .mean()
# Tal que así:

ventas_juegos.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

Rank            8300.605254
Year            2006.406443
NA_Sales           0.264667
EU_Sales           0.146652
JP_Sales           0.077782
Other_Sales        0.048063
Global_Sales       0.537441
dtype: float64

### Ordenando los Datos alfabetica y numericamente

In [108]:
# Si quisieramos ordenar nuestros datos a partir de una columna
# Podriamos hacerlo con la función .sort_values(columna)

ventas_juegos.sort_values('Year')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
6896,6898,Checkers,2600,1980.0,Misc,Atari,0.22,0.01,0.0,0.00,0.24
2669,2671,Boxing,2600,1980.0,Fighting,Activision,0.72,0.04,0.0,0.01,0.77
5366,5368,Freeway,2600,1980.0,Action,Activision,0.32,0.02,0.0,0.00,0.34
1969,1971,Defender,2600,1980.0,Misc,Atari,0.99,0.05,0.0,0.01,1.05
1766,1768,Kaboom!,2600,1980.0,Misc,Activision,1.07,0.07,0.0,0.01,1.15
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.0,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.0,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.0,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.0,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.0,0.00,0.01

In [116]:
# A demás si quisieramos que este orden en vez de ascendente sea descendente
# Debemos pasarle un argumento a la función sort_values tal que ascending = False
# Ordenaremos los datos a partir del año de forma descendente.

ventas_juegos.sort_values('Year', ascending = False)

# NaN significa Not a Number, eso quiere decir que es un valor desconocido.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
5957,5959,Imagine: Makeup Artist,DS,2020.0,Simulation,Ubisoft,0.27,0.00,0.00,0.02,0.29
14390,14393,Phantasy Star Online 2 Episode 4: Deluxe Package,PS4,2017.0,Role-Playing,Sega,0.00,0.00,0.03,0.00,0.03
16241,16244,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017.0,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01
16438,16441,Brothers Conflict: Precious Baby,PSV,2017.0,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01
8293,8295,Shin Megami Tensei IV: Final,3DS,2016.0,Role-Playing,Deep Silver,0.03,0.00,0.14,0.00,0.17
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [118]:
# También podremos ordenar más de una columna, lo cual ordenará por jerarquias segun el puesto en el orden
# Esto lo conseguiremos pasando una lista de Headers en vez de solo uno, e indicando el orden, por ejemplo:

ventas_juegos.sort_values(['Genre','Rank'], ascending = [0, 1])
# 0 = False y 1 = True y los mismos respetan el orden de los Headers.

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
165,166,Pokemon Stadium,N64,1999.0,Strategy,Nintendo,3.18,1.24,0.94,0.09,5.45
204,205,Warzone 2100,PS,1999.0,Strategy,Eidos Interactive,2.79,1.89,0.00,0.33,5.01
217,218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.56,1.68,0.00,0.59,4.83
267,268,Warcraft II: Tides of Darkness,PC,1995.0,Strategy,Activision,1.70,2.27,0.00,0.23,4.21
335,336,Pokémon Trading Card Game,GB,1998.0,Strategy,Nintendo,1.49,0.73,1.38,0.10,3.70
...,...,...,...,...,...,...,...,...,...,...,...
16564,16567,Original Frisbee Disc Sports: Ultimate & Golf,DS,2007.0,Action,"Destination Software, Inc",0.01,0.00,0.00,0.00,0.01
16567,16570,Fujiko F. Fujio Characters: Great Assembly! Sl...,3DS,2014.0,Action,Namco Bandai Games,0.00,0.00,0.01,0.00,0.01
16582,16585,Planet Monsters,GBA,2001.0,Action,Titus,0.01,0.00,0.00,0.00,0.01
16583,16586,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.00,0.00,0.00,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

## Realizando cambios a los Datos

### Agregando Filas

In [183]:
ventas_juegos.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [184]:
# Agregar un fila usando un diccionario

nueva_fila = {'Rank': 100, 'Name':'Nuevo Juego', 'Platform': 'PC', 'Year': 2022, 
              'Publisher': 'UPSO', 'NA_Sales': 100, 'EU_Sales': 100, 'JP_Sales': 100,
              'Other_Sales': 100, 'Global_Sales': 400,}

# La función append agrega la fila al final de la tabla (ultima posición)
ventas_juegos = ventas_juegos.append(nueva_fila, ignore_index=True)

In [185]:
# Vemos los ultimos registros de la tabla para confirmar que este la nueva fila
ventas_juegos.tail(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
20,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
21,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01
22,100,Nuevo Juego,PC,2022.0,NaN,UPSO,100.00,100.00,100.0,100.0,400.00

### Agregando y quitando Columnas

<p> En esta sección, como demostración, eliminaremos la columna de <b>'Global_Sales'</b> para luego volver a crearla nosotros mismos, de este modo podremos aprender tanto a eliminar como crear columnas con <b>pandas</b>, vamos a ello..</p>

In [119]:
# Para comenzar eliminaremos la columna Global_Sales de nuestro dataset de ventas
# Para elimnar filas o columnas debemos utilizar la función .drop e indicar lo que se quiere eliminar
# Por ejemplo:

ventas_juegos = ventas_juegos.drop(columns=['Global_Sales'])

ventas_juegos.head(5) # Mostramos el resultado de eliminar la columna

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00

In [125]:
# Para poder agregar una nueva columna tenemos que establecer como vamos a crearla
# Si ese fuera nuestro conjunto de datos, sería interesante tener una sumatoria de las ventas globales
# Esto podria lograrse sumando las 4 columnas de ventas según la región, entonces:

ventas_juegos['Global_Sales'] = ventas_juegos['NA_Sales'] + ventas_juegos['EU_Sales'] + \
ventas_juegos['JP_Sales'] + ventas_juegos['Other_Sales']

#ventas_juegos['Global_Sales2'] = 100

# La barra invertida es tan solo para continuar en la siguiente linea

ventas_juegos.head(5) # Mostramos por pantalla como sería el resultado

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Columna_Nueva,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.83,35.83
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.38,31.38

In [126]:
ventas_juegos = ventas_juegos.drop(columns=['Columna_Nueva'])

ventas_juegos.head(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.83

In [124]:
# Una buena práctica luego de crear una columna es asegurarnos de que
# El proceso por el cual la creamos fue correcto, por ejemplo
# Nosotros creamos Global_Sales a partir de la sumatoria de la ventas por región
# Entonces deberiamos de sumar para 1 caso la cantidad de ventas totales, por ej:

ventas_juegos.iloc[0,6] + ventas_juegos.iloc[0,7] + ventas_juegos.iloc[0,8] + ventas_juegos.iloc[0,9]
# Simulamos la sumatoria total sumando todas las ventas por región
# Como vemos el resultado es 82.74 lo que indica que la columna Global_Sales se creó correctamente

82.74000000000001

In [139]:
# También podríamos crear nuestra columna de forma tal que
# Ejecutemos una sumatoria de varias columnas indicandole el eje en que queremos sumar
# Primero eliminaremos nuevamente la columna Global_Sales y luego la crearemos de otra forma

# Eliminamos la columna Global_Sales
#ventas_juegos = ventas_juegos.drop(columns=['Global_Sales'])

# Mostramos el resultado de eliminar la columna
ventas_juegos.head(5)

,Publisher,Rank,Name,Platform,Year,Genre,Other_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,Other_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales
0,Nintendo,1,Wii Sports,Wii,2006.0,Sports,8.46,41.49,41.49,41.49,41.49,41.49,41.49,41.49,41.49,8.46,41.49,41.49,41.49,41.49
1,Nintendo,2,Super Mario Bros.,NES,1985.0,Platform,0.77,29.08,29.08,29.08,29.08,29.08,29.08,29.08,29.08,0.77,29.08,29.08,29.08,29.08
2,Nintendo,3,Mario Kart Wii,Wii,2008.0,Racing,3.31,15.85,15.85,15.85,15.85,15.85,15.85,15.85,15.85,3.31,15.85,15.85,15.85,15.85
3,Nintendo,4,Wii Sports Resort,Wii,2009.0,Sports,2.96,15.75,15.75,15.75,15.75,15.75,15.75,15.75,15.75,2.96,15.75,15.75,15.75,15.75
4,Nintendo,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,1.00,11.27,11.27,11.27,11.27,11.27,11.27,11.27,11.27,1.00,11.27,11.27,11.27,11.27

In [140]:
# Volvemos a crear la columna Global_Sales de forma que sea una sumatoria de columnas

ventas_juegos['Global_Sales'] = ventas_juegos.iloc[:, 6:10].sum(axis = 1)
# axis = 1 es eje 'x' súma horizontal, axis = 1 es eje 'y' o súma vertical

# Mostramos el resultado de agregar la columna Global_Sales
ventas_juegos.head(5)
# Veremos que nos vuelve a dar bien por la comparación con la sumatoria total anterior

,Publisher,Rank,Name,Platform,Year,Genre,Other_Sales,NA_Sales,NA_Sales,NA_Sales,...,NA_Sales,NA_Sales,NA_Sales,NA_Sales,Other_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,Global_Sales
0,Nintendo,1,Wii Sports,Wii,2006.0,Sports,8.46,41.49,41.49,41.49,...,41.49,41.49,41.49,41.49,8.46,41.49,41.49,41.49,41.49,132.93
1,Nintendo,2,Super Mario Bros.,NES,1985.0,Platform,0.77,29.08,29.08,29.08,...,29.08,29.08,29.08,29.08,0.77,29.08,29.08,29.08,29.08,88.01
2,Nintendo,3,Mario Kart Wii,Wii,2008.0,Racing,3.31,15.85,15.85,15.85,...,15.85,15.85,15.85,15.85,3.31,15.85,15.85,15.85,15.85,50.86
3,Nintendo,4,Wii Sports Resort,Wii,2009.0,Sports,2.96,15.75,15.75,15.75,...,15.75,15.75,15.75,15.75,2.96,15.75,15.75,15.75,15.75,50.21
4,Nintendo,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,1.00,11.27,11.27,11.27,...,11.27,11.27,11.27,11.27,1.00,11.27,11.27,11.27,11.27,34.81

### Reacomodando Columnas

<p> En caso de que quisieras Reordenar tus datos, entonces podrías cambiar el orden de las columnas, eso haremos en esta sección </p>

In [137]:
# Para seleccionar las columnas podemos utilizar una variable que sea una lista de las col
# Luego utilizaremos slicing para reacomodar nuestros datos

# Seleccionamos las columnas en una variable
columnas = list(ventas_juegos.columns)

# Seleccionamos el orden que queramos seleccionando las columnas y posicionandolas a gusto
ventas_juegos = ventas_juegos[columnas[1:6] + [columnas[0]] + [columnas[-3]] + columnas[6:10]]

ventas_juegos.head(5) # Muestra del reordenado de los datos

,Publisher,Rank,Name,Platform,Year,Genre,Other_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales,Other_Sales,NA_Sales,NA_Sales,NA_Sales,NA_Sales
0,Nintendo,1,Wii Sports,Wii,2006.0,Sports,8.46,41.49,41.49,41.49,41.49,41.49,41.49,41.49,41.49,8.46,41.49,41.49,41.49,41.49
1,Nintendo,2,Super Mario Bros.,NES,1985.0,Platform,0.77,29.08,29.08,29.08,29.08,29.08,29.08,29.08,29.08,0.77,29.08,29.08,29.08,29.08
2,Nintendo,3,Mario Kart Wii,Wii,2008.0,Racing,3.31,15.85,15.85,15.85,15.85,15.85,15.85,15.85,15.85,3.31,15.85,15.85,15.85,15.85
3,Nintendo,4,Wii Sports Resort,Wii,2009.0,Sports,2.96,15.75,15.75,15.75,15.75,15.75,15.75,15.75,15.75,2.96,15.75,15.75,15.75,15.75
4,Nintendo,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,1.00,11.27,11.27,11.27,11.27,11.27,11.27,11.27,11.27,1.00,11.27,11.27,11.27,11.27

In [144]:
columnas

['Genre',
 'Publisher',
 'Rank',
 'Name',
 'Platform',
 'Year',
 'NA_Sales',
 'NA_Sales',
 'Other_Sales',
 'NA_Sales',
 'NA_Sales']

In [35]:
# Una buena practica para no errarle con el número de orden de las columnas, sería obtener
# el indice de la columna que queramos utilizar, por ejemplo para reordenar el dataset de otra forma

## Guardado de Datasets

<p> En esta sección <b>guardaremos</b> el dataset que estuvimos trabajando en diversas extensiones distintas</p>

In [145]:
ventas_juegos

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [150]:
# Una vez visualizamos nuestro DataSet y estamos a gusto procederemos a realizar el guardado
# El guardado puede realizarse en diversas extensiones: csv,xlsx,xml,json,txt,etc.
# En este caso guardaremos el dataset como un csv

ventas_juegos.to_csv(input_folder + 'modificado.csv', index = False)

# El argumento index = False le indica que en el guardado no tome en cuenta el indice

In [151]:
# Podríamos importar el nuevo archivo y ver que quedó tal cual lo tenemos arriba
modificado = pd.read_csv(input_folder + 'modificado.csv')

modificado

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [152]:
# Lo mismo podemos realizar con alguna otra extension
# en este caso mostrare como seria con formato excel

ventas_juegos.to_excel(input_folder + 'modificado.xlsx', index = False)

In [153]:
# Realizamos la comprobacion al igual que el otro
modificado_excel = pd.read_excel(input_folder + 'modificado.xlsx')

modificado_excel

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [154]:
# Tambien podriamos exportalo como un archivo .txt, para ello lo guardaremos con la misma función que un csv
# Pero esta vez al archivo le pondremos extension .txt, el indice si no lo queremos en falso
# Pero es importante que sepas que podemos elegir los separadores entre las columnas
# Esto lo haremos pasando a la función el argumento sep = '' y entre comillas el separador que queramos

ventas_juegos.to_csv(input_folder + 'modificado.txt', index = False, sep = '\t')

In [155]:
# Podremos usar luego la lectura read_table y el nombre del txt
# Comprobamos que funcione correctamente:
modificado_txt = pd.read_table(input_folder + 'modificado.txt')

modificado_txt

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Filtrado de datos

<p> En esta sección realizaremos un filtrado de datos con multiples condiciones e incluso un filtrado de datos con regex </p>

<p> Es importante saber que en las condiciones de pandas utilizaremos el and como & y el or como | </p>

In [44]:
# Podemos generar, como vimos previamente, filtrados avanzados a partir de la funcion .loc
# Esto nos permitirá realizar todo tipo de busqueda en nuestro dataset
# Pero además podriamos guardarlo como un nuevo dataset, siendo una parte del anterior
# Por ejemplo separaremos los shooters de PC y PS2 con ranking menor a 1000 como: interesantes

interesantes = ventas_juegos.loc[(ventas_juegos['Genre'] == 'Shooter') & \
(ventas_juegos['Platform'] == 'PC') & (ventas_juegos['Rank'] < 1000)]

interesantes # Imprimimos el nuevo dataset generado 'interesantes'

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
281,Half-Life,PC,1997.0,Shooter,Vivendi Games,282,4.12,4.03,0.00,0.09,0.00
353,Doom II: Hell on Earth,PC,1994.0,Shooter,Virgin Interactive,354,3.61,2.05,1.40,0.00,0.16
533,Battlefield 3,PC,2011.0,Shooter,Electronic Arts,534,2.80,0.89,1.43,0.00,0.48
665,Half-Life 2,PC,2004.0,Shooter,Vivendi Games,667,2.38,2.28,0.02,0.08,0.00
874,Star Wars: Dark Forces,PC,1994.0,Shooter,LucasArts,876,1.95,1.09,0.77,0.00,0.09

In [45]:
# Si tenemos la duda si hemos perdido el resto de datos, tan solo debemos de llamar al Dataset original

ventas_juegos # Todo sigue como estaba en el Dataset de origen

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16593,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,16596,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16595,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,16598,0.00,0.00,0.00,0.00,0.00
16596,Know How 2,DS,2010.0,Puzzle,7G//AMES,16599,0.01,0.00,0.01,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

### Reseteo de Indices

In [156]:
# Si observamos el nuevo dataset aun tiene los indices del dataset original
# Esto puede tornarse molesto si usted desea utilizar para otra cosa su nuevo dataset
# Si queremos que esto no suceda deberemos resetar nuestros indices y borrar los indices anteriores
# Para ello utilizaremos la funcion .reset_index y le pasaremos como argumento drop = True
# Entonces para nuestro nuevo dataset 'interesantes', sería:

interesantes = interesantes.reset_index(drop = True)

# Mostraremos por pantalla el dataset con los indices reseteados
interesantes

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Half-Life,PC,1997.0,Shooter,Vivendi Games,282,4.12,4.03,0.00,0.09,0.00
1,Doom II: Hell on Earth,PC,1994.0,Shooter,Virgin Interactive,354,3.61,2.05,1.40,0.00,0.16
2,Battlefield 3,PC,2011.0,Shooter,Electronic Arts,534,2.80,0.89,1.43,0.00,0.48
3,Half-Life 2,PC,2004.0,Shooter,Vivendi Games,667,2.38,2.28,0.02,0.08,0.00
4,Star Wars: Dark Forces,PC,1994.0,Shooter,LucasArts,876,1.95,1.09,0.77,0.00,0.09

### Filtrado Con Regex

<p> Además podremos realizar filtrados a partir de busquedas con regex, esto facilitará la busqueda de contenidos ya que regex es una buena herramienta, pero debemos saber bien lo que estamos haciendo.</p>

In [157]:
# Un ejemplo de busqueda regex sería la utilización de la función .str y .contains()
# La misma nos servira para buscar entre las filas que contengan respectiva palabra
# Veamos un ejemplo buscando todos los juegos que contengan 'life' en su nombre.

ventas_juegos.loc[ventas_juegos['Name'].str.contains('Life')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
188,189,Tomodachi Life,3DS,2013.0,Simulation,Nintendo,0.96,2.02,1.89,0.28,5.15
281,282,Half-Life,PC,1997.0,Shooter,Vivendi Games,4.03,0.00,0.09,0.00,4.12
529,530,A Bug's Life,PS,1998.0,Platform,Sony Computer Entertainment,1.96,0.72,0.00,0.11,2.79
665,667,Half-Life 2,PC,2004.0,Shooter,Vivendi Games,2.28,0.02,0.08,0.00,2.37
1198,1200,Active Life: Outdoor Challenge,Wii,2008.0,Sports,Atari,0.79,0.44,0.19,0.14,1.55
...,...,...,...,...,...,...,...,...,...,...,...
15831,15834,LifeSigns: Surgical Unit,DS,2005.0,Simulation,JoWood Productions,0.01,0.01,0.00,0.00,0.02
16211,16214,Tomoyo After: It's a Wonderful Life CS Edition,PS2,2007.0,Adventure,Prototype,0.00,0.00,0.01,0.00,0.01
16291,16294,FairlyLife: MiracleDays,PSP,2010.0,Adventure,Piacci,0.00,0.00,0.01,0.00,0.01
16398,16401,Petz: Hamsterz Life 2,GBA,2007.0,Misc,Ubisoft,0.01,0.00,0.00,0.00,0.01
16460,16463,"Horse Life 4: My Horse, My Friend, My Champion",3DS,2015.0,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [158]:
# También podríamos obtener el inverso de esto, por ejemplo buscando entre los que no contengan life en el nombre
# Para invertir una proposición solo bastará con agregar una ~ al frente
# Realizaremos un ejemplo con todos los que no contengan Wii en su nombre

ventas_juegos.loc[~ventas_juegos['Name'].str.contains('Wii')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [49]:
# Pero no solo podremos pasarle palabras como argumento, además podremos pasarle expresiones regulares
# Esto nos permitirá realizar filtros mucho más avanzados, pero para utilizarlas debemos importar su libreria

import re

# Nos permitirá filtrar datos a partir de patrones textuales que podremos realizar con regex

In [163]:
# Por ejemplo podríamos realizar una busqueda entre los datos, que nos devuelva todo juego con plataforma PC o PS2
# Para ello buscaremos en la col platform estas 2 Palabras activando el regex, tal que así

ventas_juegos.loc[ventas_juegos['Platform'].str.contains('PC|PS2', regex = True)]

# Esto dará como resultado todos los juegos de ps2 y pc

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Racing,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
38,39,Grand Theft Auto III,PS2,2001.0,Action,Take-Two Interactive,6.99,4.51,0.30,1.30,13.10
47,48,Gran Turismo 4,PS2,2004.0,Racing,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
...,...,...,...,...,...,...,...,...,...,...,...
16577,16580,Damnation,PC,2009.0,Shooter,Codemasters,0.00,0.01,0.00,0.00,0.01
16580,16583,Real Rode,PS2,2008.0,Adventure,Kadokawa Shoten,0.00,0.00,0.01,0.00,0.01
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01

In [164]:
# También, en regex, existen las flags que son métodos más avanzados, pero por ejemplo
# En este caso la utilizaremos para evitar si es City o city, lo encontrará igual

ventas_juegos.loc[ventas_juegos['Name'].str.contains('city', flags = re.I,regex = True)]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
24,25,Grand Theft Auto: Vice City,PS2,2002.0,Action,Take-Two Interactive,8.41,5.49,0.47,1.78,16.15
90,91,Grand Theft Auto: Liberty City Stories,PSP,2005.0,Action,Take-Two Interactive,2.90,2.83,0.24,1.75,7.72
159,160,Batman: Arkham City,PS3,2011.0,Action,Warner Bros. Interactive Entertainment,2.70,1.91,0.11,0.80,5.53
198,199,Grand Theft Auto: Vice City Stories,PSP,2006.0,Action,Take-Two Interactive,1.70,2.02,0.16,1.21,5.08
222,223,Batman: Arkham City,X360,2011.0,Action,Warner Bros. Interactive Entertainment,2.99,1.31,0.04,0.41,4.76
...,...,...,...,...,...,...,...,...,...,...,...
15412,15415,Puzzle City,DS,2009.0,Puzzle,Destineer,0.02,0.00,0.00,0.00,0.02
15468,15471,Tycoon City: New York,PC,2006.0,Strategy,Atari,0.00,0.02,0.00,0.00,0.02
15540,15543,The Crow: City of Angels,PS,1997.0,Action,Acclaim Entertainment,0.01,0.01,0.00,0.00,0.02
15556,15559,Style Book: Junior City,DS,2006.0,Misc,Namco Bandai Games,0.00,0.00,0.02,0.00,0.02
16224,16227,New Interpretation Stranger of Sword City,PSV,2016.0,Role-Playing,Experience Inc.,0.00,0.00,0.01,0.00,0.01

In [52]:
# Podríamos incluso filtrar todos los juegos que no contengan números en su nombre
# Para ello utilizaremos una expresión regular que hace referencia a todos los números

ventas_juegos.loc[~ventas_juegos['Name'].str.contains('\d+',regex = True)]

# De esta forma ningun juego del resultado tendrá numeros en su nombre
# Esto y muchas cosas más podrás realizar con regex muy facilmente, recomiendo estudiarlas y utilizarlas

,Name,Platform,Year,Genre,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,1,82.74,41.49,29.02,3.77,8.46
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,2,40.24,29.08,3.58,6.81,0.77
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,3,35.83,15.85,12.88,3.79,3.31
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,4,33.00,15.75,11.01,3.28,2.96
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,5,31.38,11.27,8.89,10.22,1.00
...,...,...,...,...,...,...,...,...,...,...,...
16590,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,16593,0.01,0.00,0.00,0.01,0.00
16591,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,16594,0.01,0.01,0.00,0.00,0.00
16592,Plushees,DS,2008.0,Simulation,Destineer,16595,0.01,0.01,0.00,0.00,0.00
16594,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,16597,0.01,0.01,0.00,0.00,0.00
16597,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,16600,0.01,0.01,0.00,0.00,0.00

## Cambios Condicionales

<p> En esta sección veremos como podemos realizar cambios en nuestro dataset a partir de los condicionales que hemos estado viendo ultimamente </p>

In [166]:
# Por ejemplo podríamos cambiar el género 'Racing' a 'Careers' para mostrarlo
# Para ello debemos utilizar la siguiente sintaxis

ventas_juegos.loc[ventas_juegos['Genre'] == 'Racing', 'Genre'] = 'Careers'

ventas_juegos

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Careers,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Careers,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [167]:
ventas_juegos.loc[ventas_juegos['Genre'] == 'Careers']
# Mostrariamos como todos los juegos de Racing han sido cambiados por Careers

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Careers,Nintendo,15.85,12.88,3.79,3.31,35.82
11,12,Mario Kart DS,DS,2005.0,Careers,Nintendo,9.81,7.57,4.13,1.92,23.42
28,29,Gran Turismo 3: A-Spec,PS2,2001.0,Careers,Sony Computer Entertainment,6.85,5.09,1.87,1.16,14.98
42,43,Mario Kart 7,3DS,2011.0,Careers,Nintendo,4.74,3.91,2.67,0.89,12.21
47,48,Gran Turismo 4,PS2,2004.0,Careers,Sony Computer Entertainment,3.01,0.01,1.10,7.53,11.66
...,...,...,...,...,...,...,...,...,...,...,...
16530,16533,Sébastien Loeb Rally Evo,XOne,2016.0,Careers,Milestone S.r.l,0.00,0.01,0.00,0.00,0.01
16543,16546,Driving Simulator 2011,PC,2011.0,Careers,NaN,0.00,0.01,0.00,0.00,0.01
16573,16576,Mini Desktop Racing,Wii,2007.0,Careers,Popcorn Arcade,0.01,0.00,0.00,0.00,0.01
16574,16577,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Careers,Takara Tomy,0.00,0.00,0.01,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Careers,Activision,0.00,0.00,0.00,0.00,0.01

In [168]:
# Incluso podriamos modificar valores de una columna a partir de un condicional del contenido de otra columna
# Por ejemplo podriamos establecer que todos los juegos de plataforma Wii Sean del año 2008

ventas_juegos.loc[ventas_juegos['Platform'] == 'Wii', 'Year'] = 2008

ventas_juegos[ventas_juegos['Platform'] == 'Wii']
# Imprimimos los de plataforma Wii y vemos que todos son del año 2008

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2008.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Careers,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2008.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
7,8,Wii Play,Wii,2008.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2008.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
...,...,...,...,...,...,...,...,...,...,...,...
16517,16520,Teenage Mutant Ninja Turtles,Wii,2008.0,Action,Konami Digital Entertainment,0.00,0.01,0.00,0.00,0.01
16552,16555,Mahou Sensei Negima!? Neo-Pactio Fight!!,Wii,2008.0,Fighting,Marvelous Interactive,0.00,0.00,0.01,0.00,0.01
16573,16576,Mini Desktop Racing,Wii,2008.0,Careers,Popcorn Arcade,0.01,0.00,0.00,0.00,0.01
16574,16577,Yattaman Wii: BikkuriDokkiri Machine de Mou Ra...,Wii,2008.0,Careers,Takara Tomy,0.00,0.00,0.01,0.00,0.01
16581,16584,Fit & Fun,Wii,2008.0,Sports,Unknown,0.00,0.01,0.00,0.00,0.01

In [169]:
# Además podriamos modificar varias columnas a la vez, para ello usaremos la misma sintaxis
# Pero en vez de pasar 1 columna pasaremos una lista con las columnas a cambiar, por ejemplo:

ventas_juegos.loc[ventas_juegos['Global_Sales'] >= 15, ['Genre','Publisher']] = 'VALOR DE PRUEBA'


# Podemos visualizar como todos los que tengan Ventas globales mayores o iguales a 15
# Se les cambiará el atributo Genero y Publicador por : 'VALOR DE PRUEBA'

ventas_juegos

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2008.0,VALOR DE PRUEBA,VALOR DE PRUEBA,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,VALOR DE PRUEBA,VALOR DE PRUEBA,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,VALOR DE PRUEBA,VALOR DE PRUEBA,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2008.0,VALOR DE PRUEBA,VALOR DE PRUEBA,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,VALOR DE PRUEBA,VALOR DE PRUEBA,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Careers,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [173]:
# Podremos pasarle a cada una un valor distinto pasando tambien una lista como resultado, por ejemplo

ventas_juegos.loc[ventas_juegos['Global_Sales'] >= 15, ['Genre','Publisher']] = ['NUEVO','Prueba']

# Copia de dataframe
nuevo = ventas_juegos.copy('')
nuevo

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2008.0,NUEVO,Prueba,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,NUEVO,Prueba,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,NUEVO,Prueba,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2008.0,NUEVO,Prueba,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,NUEVO,Prueba,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Careers,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [174]:
# Para reiniciar nuestro dataset, ya que estos cambios que hemos realizado son erroneos, debemos volver a cargar el archivo modificado que habiamos guardado

# Carga del archivo modificado, pisando el nombre ventas_juegos
ventas_juegos = pd.read_csv(input_folder + 'modificado.csv')

ventas_juegos

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## Generar estadísticas con Groupby

<p> En esta sección aprenderemos a utilizar una función muy util a la hora de generar estadisticas de nuestro dataset, la cual es GroupBy </p>

In [178]:
# Por ejemplo podriamos querer saber la media segun la plataforma, para ello
# Debemos realizar un groupby y pasar como argumento la columna que nos interese
# En este caso haremos la media segun la plataforma

ventas_juegos.groupby(['Platform']).mean()
# Obviamente las medias tienen en cuenta solo datos numericos

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,
2600,4403.496241,1982.137931,0.681203,0.041128,0.000000,0.006842,0.729925
3DO,14372.666667,1994.666667,0.000000,0.000000,0.033333,0.000000,0.033333
3DS,9160.400786,2013.062000,0.154951,0.114971,0.191257,0.024813,0.486169
DC,8771.423077,1999.942308,0.104423,0.032500,0.164615,0.005192,0.307115
DS,9637.462321,2008.201125,0.180633,0.089991,0.081170,0.027984,0.380254
GB,3392.030612,1995.958763,1.166531,0.487959,0.868571,0.083673,2.606633
GBA,8682.176399,2003.210851,0.228151,0.091545,0.057579,0.009404,0.387470
GC,8664.390288,2003.400369,0.240036,0.069622,0.038813,0.009317,0.358561
GEN,7037.740741,1993.037037,0.713704,0.204444,0.098889,0.032963,1.050370
GG,13527.000000,1992.000000,0.000000,0.000000,0.040000,0.000000,0.040000
N64,6530.373041,1998.531646,0.435799,0.128715,0.107273,0.013730,0.686144
NES,1906.438776,1987.153061,1.285102,0.215816,1.006633,0.054184,2.561939
NG,10665.666667,1994.500000,0.000000,0.000000,0.120000,0.000000,0.120000
PC,11438.319792,2008.773065,0.097167,0.145500,0.000177,0.025896,0.269604
PCFX,14559.000000,1996.000000,0.000000,0.000000,0.030000,0.000000,0.030000
PS,6958.221572,1998.004205,0.281363,0.178595,0.116906,0.034206,0.610920
PS2,7477.633966,2004.583921,0.270171,0.157006,0.064415,0.089514,0.581046
PS3,6793.054929,2010.819785,0.295154,0.258623,0.060188,0.106795,0.720722
PS4,7625.562500,2015.005952,0.288095,0.368155,0.042560,0.129048,0.827679
PSP,10399.873866,2008.721805,0.089852,0.056265,0.063306,0.034782,0.244254
PSV,11458.210654,2014.033981,0.039225,0.039540,0.050751,0.020460,0.149952
SAT,9333.936416,1996.028902,0.004162,0.003121,0.186474,0.000405,0.194162
SCD,10171.833333,1993.833333,0.166667,0.060000,0.075000,0.008333,0.311667
SNES,6346.460251,1993.845188,0.256192,0.079665,0.487657,0.013473,0.837029
TG16,12381.500000,1995.000000,0.000000,0.000000,0.080000,0.000000,0.080000
WS,7878.833333,2000.000000,0.000000,0.000000,0.236667,0.000000,0.236667
Wii,7730.774340,2008.962791,0.383177,0.202551,0.052340,0.060838,0.699404
WiiU,7756.237762,2013.594406,0.267972,0.169441,0.089441,0.045105,0.572448
X360,6692.528063,2009.882591,0.475138,0.221802,0.009826,0.067621,0.774672
XB,8761.257282,2003.636364,0.226566,0.073968,0.001675,0.010583,0.313422
XOne,7397.061033,2014.788732,0.390563,0.214319,0.001596,0.055962,0.662254

In [179]:
# A este conjunto de datos también podemos reordenarlo por ejemplo segun la cantidad de ventas totales,o el ranking
# Y así poder determinar cual plataforma fue la que tuvo juegos más vendidos
# Estadísticas de este tipo podemos armar muchas, nosotros trabajaremos este ejemplo:

ventas_juegos.groupby(['Platform']).mean().sort_values('Global_Sales', ascending = False)

# Así vemos que la gameboy es la que, en promedio, tuvo los juegos más vendidos.

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Platform,,,,,,,
GB,3392.030612,1995.958763,1.166531,0.487959,0.868571,0.083673,2.606633
NES,1906.438776,1987.153061,1.285102,0.215816,1.006633,0.054184,2.561939
GEN,7037.740741,1993.037037,0.713704,0.204444,0.098889,0.032963,1.050370
SNES,6346.460251,1993.845188,0.256192,0.079665,0.487657,0.013473,0.837029
PS4,7625.562500,2015.005952,0.288095,0.368155,0.042560,0.129048,0.827679
X360,6692.528063,2009.882591,0.475138,0.221802,0.009826,0.067621,0.774672
2600,4403.496241,1982.137931,0.681203,0.041128,0.000000,0.006842,0.729925
PS3,6793.054929,2010.819785,0.295154,0.258623,0.060188,0.106795,0.720722
Wii,7730.774340,2008.962791,0.383177,0.202551,0.052340,0.060838,0.699404
N64,6530.373041,1998.531646,0.435799,0.128715,0.107273,0.013730,0.686144
XOne,7397.061033,2014.788732,0.390563,0.214319,0.001596,0.055962,0.662254
PS,6958.221572,1998.004205,0.281363,0.178595,0.116906,0.034206,0.610920
PS2,7477.633966,2004.583921,0.270171,0.157006,0.064415,0.089514,0.581046
WiiU,7756.237762,2013.594406,0.267972,0.169441,0.089441,0.045105,0.572448
3DS,9160.400786,2013.062000,0.154951,0.114971,0.191257,0.024813,0.486169
GBA,8682.176399,2003.210851,0.228151,0.091545,0.057579,0.009404,0.387470
DS,9637.462321,2008.201125,0.180633,0.089991,0.081170,0.027984,0.380254
GC,8664.390288,2003.400369,0.240036,0.069622,0.038813,0.009317,0.358561
XB,8761.257282,2003.636364,0.226566,0.073968,0.001675,0.010583,0.313422
SCD,10171.833333,1993.833333,0.166667,0.060000,0.075000,0.008333,0.311667
DC,8771.423077,1999.942308,0.104423,0.032500,0.164615,0.005192,0.307115
PC,11438.319792,2008.773065,0.097167,0.145500,0.000177,0.025896,0.269604
PSP,10399.873866,2008.721805,0.089852,0.056265,0.063306,0.034782,0.244254
WS,7878.833333,2000.000000,0.000000,0.000000,0.236667,0.000000,0.236667
SAT,9333.936416,1996.028902,0.004162,0.003121,0.186474,0.000405,0.194162
PSV,11458.210654,2014.033981,0.039225,0.039540,0.050751,0.020460,0.149952
NG,10665.666667,1994.500000,0.000000,0.000000,0.120000,0.000000,0.120000
TG16,12381.500000,1995.000000,0.000000,0.000000,0.080000,0.000000,0.080000
GG,13527.000000,1992.000000,0.000000,0.000000,0.040000,0.000000,0.040000
3DO,14372.666667,1994.666667,0.000000,0.000000,0.033333,0.000000,0.033333
PCFX,14559.000000,1996.000000,0.000000,0.000000,0.030000,0.000000,0.030000

In [180]:
ventas_juegos.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [181]:
# Además de la función de media .mean(), tenemos otras para realizar estadísticas u obtener datos
# Esas son .sum() que sumará todos los datos de cada columna según el agrupamiento realizado
# Y .count() que contará cuantos diferentes datos existen para cada columna según el agrupamiento realizado

# Realizaremos un ejemplo de sumatoria según agrupamiento por generos y mostraremos el que tenga más ventas totales

ventas_juegos.groupby(['Genre']).sum().sort_values('Global_Sales', ascending = False)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,
Action,26441383,6531731.0,877.83,525.00,159.95,187.38,1751.18
Sports,17419112,4620621.0,683.35,376.85,135.37,134.97,1330.93
Shooter,9653872,2571588.0,582.60,313.27,38.28,102.69,1037.37
Role-Playing,12032228,2952379.0,327.28,188.06,352.31,59.61,927.37
Platform,6137545,1755347.0,447.05,201.63,130.77,51.59,831.37
Misc,14889052,3432412.0,410.24,215.98,107.76,75.32,809.96
Racing,9943933,2457934.0,359.42,238.39,56.69,77.27,732.04
Fighting,6484242,1675871.0,223.59,101.32,87.35,36.68,448.91
Simulation,7478816,1707589.0,183.31,113.38,63.70,31.52,392.20
Puzzle,5603136,1144994.0,123.78,50.78,57.31,12.55,244.95
Adventure,14831165,2562375.0,105.80,64.13,52.07,16.81,239.04
Strategy,6858962,1345757.0,68.70,45.34,49.46,11.36,175.12

In [62]:
# Por otra parte realizaremos el conteo de cuantos juegos por género existen
# Además los ordenaremos por rank, ya que es una clave única entonces nos indicará cuantos juegos existen por género

ventas_juegos.groupby(['Genre']).count().sort_values('Rank', ascending = False)

# Para que un número sea menor debe existir un dato en blanco, por ejemplo
# Encontramos que para 'Action' existen 3316 juegos, sin embargo, solo 3253 tienen el dato del año completo

,Name,Platform,Year,Publisher,Rank,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Genre,,,,,,,,,,
Action,3316,3316,3253,3309,3316,3316,3316,3316,3316,3316
Sports,2346,2346,2304,2343,2346,2346,2346,2346,2346,2346
Misc,1739,1739,1710,1712,1739,1739,1739,1739,1739,1739
Role-Playing,1488,1488,1471,1486,1488,1488,1488,1488,1488,1488
Shooter,1310,1310,1282,1308,1310,1310,1310,1310,1310,1310
Adventure,1286,1286,1276,1282,1286,1286,1286,1286,1286,1286
Racing,1249,1249,1226,1248,1249,1249,1249,1249,1249,1249
Platform,886,886,876,884,886,886,886,886,886,886
Simulation,867,867,851,863,867,867,867,867,867,867
Fighting,848,848,836,846,848,848,848,848,848,848
Strategy,681,681,671,678,681,681,681,681,681,681
Puzzle,582,582,571,581,582,582,582,582,582,582

In [63]:
# Pero lo mejor es poder agrupar por más de un tipo de dato, eso nos permitirá hacer cosas increibles
# Por ejemplo crearemos un agrupado que sea segun generos y luego plataforma.
# Primero podemos crear una nueva columna llamada count para que sea más facil y visible contar
# Ya que en todos los casos estará completo el dato, entonces:

ventas_juegos['Contador'] = 1

ventas_juegos.groupby(['Genre','Platform']).count()['Contador']

# Entonces al imprmir solo verémos la cantidad para cada tipo de juego según el género y la plataforma

Genre     Platform
Action    2600         61
          3DS         182
          DC            3
          DS          343
          GB            6
                     ...
Strategy  Wii          25
          WiiU          3
          X360         28
          XB           21
          XOne          3
Name: Contador, Length: 293, dtype: int64

## Trabajar con grandes cantidades de datos

<p> Normalmente trabajaremos con cantidades de datos pequeñas como en este caso, pero hay casos que requeriran otras metodologias de trabajo ya que son una cantidad de datos muy grande. Para ello Pandas tiene soluciones muy interesantes. </p>

In [182]:
# Normalmente podremos cargar todo en un solo archivo, pero en caso de que esto no sea posible
# Pandas nos deja dividir la información en chunks y podriamos cargarlo de la siguiente forma:
# En este caso utilizamos un tamaño de chunk de 64 filas porque es pequeño 
# Pero deberemos de aumentarlo a medida que el archivo es más grande

# Creamos un DataSet vacío en el que iremos agregando los chunks
nuevos_datos = pd.DataFrame()

# Imprimimos el dataframe recien creado
print(nuevos_datos)

# Recorremos nuestro archivo de datos en forma de chunks de 64 filas
for ventas_juegos in pd.read_csv(input_folder + 'modificado.csv', chunksize = 64):
    # Concatenamos los datos con la funcion .concat() formando nuevamente nuestor conjunto de datos
    nuevos_datos = pd.concat([nuevos_datos, ventas_juegos])
    # En este caso no realizamos, pero de por medio puedes hacer operaciones/modificaciones
    # que requieras en tu dataframe y así podras trabajar mejor y más rápido
    
# Imprimimos el DataFrame con todo agregado
nuevos_datos

Empty DataFrame
Columns: []
Index: []

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01